body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Arial";
}

h1 {
  text-align: center;
  background-color: #e2e2e2;
  padding-top: 60px;
  padding-bottom: 150px;
}

h2 {
  margin-top: -170px;
  text-align: center;
}

.main-image {
  margin: 50px;
  width: 150px;
  height: 150px;
  border: solid 4px black;
  border-radius: 55%;
  transition: all .5s;
}

.main-image:hover {
  transform: scale(1.2)rotate(720deg);
}

.text {
  margin-top: 5px;
}


